.panel-default {
  border-color: #20315A;
}

.panel > .panel-heading {
  background-image: none;
  background-color: #20315A;
  color: white;
}

a {
  color: #2c3e50;
}

a:hover, a:focus {
  color: #2c3e50;
}